@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #00f5ff;
  border-radius: 20px;
}

.glass {
  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(20px);

  -webkit-backdrop-filter: blur(20px);
}
